<div class="inavii-reconnect">
    <h2>Warning!</h2>
    <br/>
    <strong>Only the administrator can see this message</strong>
    <br><br>
    <strong>The last update to your Feed was {{ lastUpdate }} days ago</strong>
    <br><br>
    Reconnect your Instagram account because your access token has expired. Reconnecting is necessary because the Instagram API token periodically expires.
    <br><br>
    Please go to the <a
            href="/wp-admin/admin.php?page=inavii-instagram-settings#/accounts">
        Inavii Social feed » IG Accounts</a> page and Reconnect Account
</div>
