<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /jpsresidency_new/

    # Prevent TRACE/TRACK & simple security
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
    RewriteRule .* - [F]

    # Redirect non-files/dirs to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
