<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Block TRACE/TRACK for security
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
    RewriteRule .* - [F]

    # Avoid looping on index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/index\.php$
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
