.tp-table {
	display: table;
	width:   100%;
}

.table-cell {
	display:        table-cell;
	vertical-align: middle;
	float:          none;
}

.thim-select-language {
	line-height: 27px;
	.language {
		position: relative;
		> span {
			padding-right: 25px;
			position:      relative;
			line-height:   27px;
			display:       inline-block;
			&:before {
				content:     "\f107";
				font-family: FontAwesome;
				position:    absolute;
				top:         2px;
				line-height: 27px;
				right:       0;
			}
		}
		ul {
			list-style: none;
			visibility: hidden;
			position:   absolute;
			top:        27px;
			left:       -10px;
			background: #fff;
			z-index:    9999;
			min-width:  120px;
			@include opacity(0);
			li {
				line-height: 30px;
				padding:     0 15px;
				text-align:  left;
				display: block;
				a {
					color:          #5a5a5a;
					text-transform: none;
					text-align:     left;
					border-bottom:  1px solid #eee;
					line-height:    30px;
					display:        block;
				}
			}
		}
		&:hover {
			cursor: pointer;
			ul {
				@include transition(all 0.3s);
				visibility: visible;
				@include opacity(1);
			}
		}
	}
	&.language-new{
		.language{
			border-bottom: 1px solid rgba(0,0,0,0.3) !important;
			>span{
				color: $thim_main_menu_text_color;
			}
			ul{
				padding: 15px 0;
				box-shadow: rgba(111,111,111,0.2) 0 4px 10px 0;
				li{
					padding: 10px 15px;
					a{
						text-transform: uppercase;
						border-bottom: unset;
						color: #c0c0c0;
						&:hover{
							color: #000;
						}
						img{
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}
.site-header{
	&.header_v1{
		.menu-right{
			@media(max-width:991px){
				display: none !important;
			}
			.thim-select-language{
				.language{
					border-bottom: 1px solid var(--thim_body_primary_color);
					> span{
						font-weight: bold;
					}
				}
			}
			.phone-swapper{
				@media(max-width: 1270px){
					display: none;
				}
			}
			.thim-select-language{
				@media(max-width: 1023px){
					display: none;
				}
			}
		}
		.navbar-nav{
			>li{
				> a,> span.disable_link,> span:not(.icon-toggle){
					@media(max-width:1199px){
						margin: 0 13px !important;
					}
				}
			}
		}
	}
}

/* Header V2 */
.site-header.header_v2 {
	padding-top:    0;
	padding-bottom: 0;
	.header-right.table-cell,
	.header-left.table-cell {
		width: 50%;
	}
	.inner-header-top {
		line-height: 30px;
		ul {
			padding: 0;
			margin:  0px -5px;
			li {
				list-style: none;
				float:      left;
				margin:     0px 5px;
				a {
					border:        1px solid;
					border-color:  #eee;
					min-width:     30px;
					min-height:    30px;
					text-align:    center;
					font-weight:   bold;
					line-height:   28px;
					border-radius: 2px;
					display:       block;
				}
			}
		}
		.sm-logo {
			text-align: center;
			img {
				margin-bottom: 0;
			}
		}
	}
	.navigation {
		.table-center {
			border-top: 1px solid #eee;
			.inner-navigation {
				text-align: center;

				.header-right {
					display: none;
				}

				.navbar-nav > li > a,
				.navbar-nav > li > span.disable_link,
				.navbar-nav > li > span:not(.icon-toggle) {
					padding: 29px 30px;
				}
				.navbar-nav > li {
					&.menu-item-has-children {
						.disable_link,
						a {
							padding-right: 45px;
						}
						.icon-toggle {
							position: absolute;
							top:      50%;
							@include translate(0, -50%);
							right:    30px;
						}
					}
				}
			}
		}
	}
}

.thim-float-left {
	float:        left;
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
}

.thim-float-right {
	float:       right;
	margin-left: 20px;
	&:last-child {
		margin-left: 0;
	}
}

/* End: Header V2 */
.site-header.header_v2 .navigation .table-center .inner-navigation .header-left {
	display: none;
	ul {
		li {
			list-style: none;
			float:      left;
			margin:     0 5px;
			a {
				border:        1px solid $border-color;
				min-width:     30px;
				min-height:    30px;
				text-align:    center;
				font-weight:   700;
				line-height:   28px;
				border-radius: 2px;
				display:       block;
			}
		}
	}
}
