.thim-column-posts {
	display: inline-block;
	margin:  0;
	.post-item {
		li {
			list-style:       none;
			background-color: #f8f8f8;
			box-shadow:       0px 15px 35px 0 rgba(0, 29, 44, 0.1);
			.article-title-wrapper {
				padding: 40px 30px;
				.category {
					font-size:      16px;
					font-weight:    300;
					font-style:     normal;
					font-stretch:   semi-condensed;
					line-height:    normal;
					letter-spacing: 0.8px;
					text-align:     left;
					text-transform: uppercase;
				}
				h5 {
					.article-title {
						font-size:      24px;
						font-weight:    normal;
						font-style:     normal;
						font-stretch:   normal;
						line-height:    normal;
						letter-spacing: 0.7px;
						text-align:     left;
					}
					margin: 10px 0 20px;
				}
				
				p {
					font-size:      20px;
					font-weight:    300;
					font-style:     normal;
					font-stretch:   semi-condensed;
					line-height:    1.5;
					letter-spacing: 0.4px;
					text-align:     left;
					margin-bottom:  40px;
				}
				.button_read_more {
					margin-bottom: 20px;
					a {
						font-size:      16px;
						font-weight:    normal;
						font-style:     normal;
						font-stretch:   semi-condensed;
						line-height:    2;
						letter-spacing: 0.8px;
						text-align:     left;
						text-transform: uppercase;
						padding:        15px 35px;
						background:     transparent;
						border:         1px solid;
						border-color:   #c19b76;
						color:          #c19b76;
						&:hover {
							background: #c19b76;
							color:      #fff;
						}
					}
				}
			}
		}
	}
}